---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, '');
---

<div class="relative group inline-block">
  <a
    class:list={[className, { 'underline decoration-1 underline-offset-2': isActive }]}
    href={href}
    {...props}
  >
    <slot />
  </a>

  {
    href === '/projects' && (
      <span class="absolute left-0 top-full mt-1 whitespace-nowrap text-xs opacity-0 translate-y-1 transition duration-400 group-hover:opacity-100 group-hover:translate-y-0">
        Work in Progress
      </span>
    )
  }
</div>