---
const { tool, class: className } = Astro.props;
const { title, description } = tool.data;
---

<div class={className}>
  <h2 class="font-serif text-2xl">{title}</h2>
  <p class="mt-2">{description}</p>
  <a href={`/tools/${tool.id}`} class="underline mt-3 inline-block">View Tool</a>
</div>


