
---
import type { GetStaticPathsOptions, Page } from 'astro';
import { type CollectionEntry, getCollection } from 'astro:content';
import Pagination from '../../components/Pagination.astro';
import ToolCard from '../../components/ToolCard.astro';
import SubscribeProjects from '../../components/SubscribeProjects.astro';
import siteConfig from '../../data/site-config';
import BaseLayout from '../../layouts/BaseLayout.astro';

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
    const tools = (await getCollection('tools'));
    return paginate(tools, { pageSize: siteConfig.projectsPerPage || 6 });
}

type Props = { page: Page<CollectionEntry<'tools'>> };

const { page } = Astro.props;
const portfolio = page.data;
---

<BaseLayout title="Tools" description="Explore digital tools like spreadsheets and templates for sale in one list. " showHeader={false}>
    <h1 class="mb-12 font-serif text-2xl leading-tight italic sm:mb-16 sm:text-4xl">Digital Tools by PixelPenWords</h1>
    {portfolio.map((tool) => <ToolCard tool={tool} class="mb-10 sm:mb-12" />)}
    <SubscribeProjects class="my-16 sm:my-24" />
</BaseLayout>
